{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="pagetitle">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

{% if not request.user.paymentaddress.tfuel_address %}
<div class="row my-2">
  <div class="col-md-8 offset-md-2">
    <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
      You don't have a payment address! Please <a href="{% url 'payments' %}">update here</a>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</div>
{% endif %}

<section class="section dashboard">
  <div class="row">

    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">

        <!-- Sales Card -->
        <div class="col-md-4">
          <div class="card info-card customers-card">

            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">AI Inferences <span>| This Month</span></h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-cpu"></i>
                </div>
                <div class="ps-3">
                  <h6>120</h6>
                  <span class="text-success small pt-1 fw-bold">15%</span> <span
                    class="text-muted small pt-2 ps-1">increase</span>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Sales Card -->

        <!-- Customers Card -->
        <div class="col-md-4">

          <div class="card info-card sales-card">

            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">Plugins <span>| This Month</span></h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-cloud-download"></i>
                </div>
                <div class="ps-3">
                  <h6>125</h6>
                  <span class="text-success small pt-1 fw-bold">8%</span> <span
                    class="text-muted small pt-2 ps-1">increase</span>
                </div>
              </div>

            </div>
          </div>

        </div><!-- End Customers Card -->

        <!-- Revenue Card -->
        <div class="col-md-4">
          <div class="card info-card revenue-card">

            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">Earnings <span>| This Month</span></h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-currency-dollar"></i>
                </div>
                <div class="ps-3">
                  <h6>$5,764</h6>
                  <span class="text-success small pt-1 fw-bold">8%</span> <span
                    class="text-muted small pt-2 ps-1">increase</span>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Revenue Card -->

      </div>
      <div class="row">

        <!-- Sales Card -->
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Model Inferences Usage | <span>7 Days</span></h5>

              <!-- Traffic Line Chart -->
              <canvas id="inferenceUsageChart"
                style="max-height: 400px; display: block; box-sizing: border-box; height: 299px; width: 599px;"
                width="599" height="299"></canvas>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#inferenceUsageChart'), {
                    type: 'line',
                    data: {
                      labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                      datasets: [
                        {
                          label: 'Health Care AI',
                          data: [10, 7, 15, 18, 14, 16, 22],
                          fill: false,
                          borderColor: 'rgb(255, 99, 132)',
                          tension: 0.5
                        },
                        {
                          label: 'Finance AI',
                          data: [8, 16, 14, 12, 16, 18, 13],
                          fill: false,
                          borderColor: 'rgb(54, 162, 235)',
                          tension: 0.5
                        },
                        {
                          label: 'Image Classifier AI',
                          data: [15, 10, 20, 22, 25, 18, 24],
                          fill: false,
                          borderColor: 'rgb(75, 192, 192)',
                          tension: 0.5
                        }
                      ]
                    },
                    options: {
                      scales: {
                        x: {
                          grid: {
                            display: false
                          }
                        },
                        y: {
                          beginAtZero: true,
                          grid: {
                            display: false
                          }
                        }
                      }
                    }
                  });
                });
              </script>
              <!-- End Traffic Line Chart -->
            </div>
          </div>

        </div>
      </div>
    </div><!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-lg-4">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Earnings Overview | <span>Current</span></h5>

          <canvas id="transportationDoughnutChart"
            style="max-height: 400px; display: block; box-sizing: border-box; height: 400px; width: 599px;" width="599"
            height="400"></canvas>
          <script>
            document.addEventListener("DOMContentLoaded", () => {
              new Chart(document.querySelector('#transportationDoughnutChart'), {
                type: 'doughnut',
                data: {
                  labels: [
                    'TFuel',
                    'USD',
                  ],
                  datasets: [{
                    label: 'Earning Source',
                    data: [65, 35], // Update with your actual data percentages
                    backgroundColor: [
                      'rgb(255, 99, 132)',
                      'rgb(75, 192, 192)',
                    ],
                    hoverOffset: 4
                  }]
                }
              });
            });
          </script>
          <!-- End Doughnut Chart -->

        </div>
      </div>


      <!-- Recent Activity -->
      <!-- End Recent Activity -->

    </div><!-- End Right side columns -->

  </div>
  <div class="row">
    
    <div class="card">
      <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <li class="dropdown-header text-start">
            <h6>Filter</h6>
          </li>
          <li><a class="dropdown-item" href="#">Today</a></li>
          <li><a class="dropdown-item" href="#">This Month</a></li>
          <li><a class="dropdown-item" href="#">This Year</a></li>
        </ul>
      </div>
    
      <div class="card-body">
        <h5 class="card-title">Recent Logs & Metrics <span>| This Month</span></h5>
    
        <div class="activity">
    
          <div class="activity-item d-flex">
            <div class="activite-label">Today</div>
            <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
            <div class="activity-content">
              10 users downloaded inference binaries
            </div>
          </div><!-- End activity item-->
    
          <div class="activity-item d-flex">
            <div class="activite-label">Today</div>
            <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
            <div class="activity-content">
              20% weekly increase in Health Care AI usage
            </div>
          </div><!-- End activity item-->
    
          <div class="activity-item d-flex">
            <div class="activite-label">Yesterday</div>
            <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
            <div class="activity-content">
              Total 15 plugins downloaded this week
            </div>
          </div><!-- End activity item-->
    
          <div class="activity-item d-flex">
            <div class="activite-label">2 days ago</div>
            <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
            <div class="activity-content">
              Finance AI inference uptime was 97% this month
            </div>
          </div><!-- End activity item-->
    
          <div class="activity-item d-flex">
            <div class="activite-label">4 days ago</div>
            <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
            <div class="activity-content">
              32% increase in Image Classifier AI use since last month
            </div>
          </div><!-- End activity item-->
    
        </div>
    
      </div>
    
    </div>
    
  </div>
</section>


{% endblock%}